.phishblock-suspicious-link,
.phishblock-suspicious-email-body-message span {
    border: 1px solid red !important;
    padding: 5px !important;
    background-color: white !important;
    color: red !important;
    /*text-decoration: underline !important;*/
    display: inline-block !important;
    margin: 5px !important;
}
.phishblock-link-old,
.phishblock-email-body-message span {
    border: 1px dashed green !important;
    padding: 5px !important;
    /*background-color: white !important;
    color: green !important;
    text-decoration: underline !important;*/
    display: inline-block !important;
    margin: 5px !important;
}
.phishblock-suspicious-email-body-message span,
.phishblock-email-body-message span {
    margin-bottom: 15px !important;
}


.phishblock-suspicious-email-body {
    border: 2px solid red !important;
    padding: 5px !important;
}
.phishblock-email-body {
    border: 2px solid green !important;
    padding: 5px !important;
}
.phishblock-suspicious-email-body-message,
.phishblock-email-body-message {
    width: 100%;
    text-align: center;
}
.phishblock-suspicious-email-body-message span,
.phishblock-email-body-message span {
    text-decoration: none !important;
}
.phishblock-email-body-message span {
    color: green;
}



.phishblock-reminder-sender-address {
    display: block !important;
    /*font-weight: bold !important;*/
    color: #800000 !important;
    padding-bottom: 3px !important;
    white-space: normal !important;
}
.phishblock-reminder-sender-address-suspicious,
.phishblock-reminder-attachments {
    display: block !important;
    /*font-weight: bold !important;*/
    color: red !important;
    padding-bottom: 3px !important;
    white-space: normal !important;
}
.phishblock-suspicious-attachment {
    border: 2px solid red !important;
    padding: 5px !important;
    /*background-color: white !important;
    color: red !important;
    text-decoration: underline;*/
}


.phishblock-onoffcontainer {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
.phishblock-turnoff {
    color: red;
    cursor: pointer;
}
.phishblock-turnon {
    color: green;
    cursor: pointer;
    font-weight: bold;
}